input {
    keyboard {
        xkb {
	    layout "pl"
        }
    }
    touchpad {
        tap
        dwt
        dwtp
        drag true
        natural-scroll
        accel-speed 0.2
        accel-profile "adaptive"
        scroll-method "two-finger"
    }
    mouse {

    }
    trackpoint {

    }
    focus-follows-mouse max-scroll-amount="0%"
}

/-output "eDP-1" {
    mode "1920x1080@60"
    position x=0 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@75"
    position x=0 y=0
}

output "DP-1" {
    mode "2560x1440@180"
    position x=1920 y=0
    scale 1.25
}

layout {
    gaps 15
    center-focused-column "never"
    empty-workspace-above-first
    default-column-display "normal"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    preset-window-heights {
	proportion 0.5
	proportion 1.0
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }
    border {
        width 5
        active-color "#b4befe"
        inactive-color "#585b70"
        urgent-color "#f9e2af"
    }
    shadow {
        off
    }
    struts {
         
    }
}

spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"
spawn-at-startup "mako"
spawn-at-startup "swaybg" "-i" "/home/alex/.config/assets/forest.png"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "swayidle" "-w" \
    "timeout" "300" "brightnessctl set 20%-" \
    "resume" "brightnessctl set 100%" \
    "timeout" "600" "swaylock -f" \
    "timeout" "1800" "systemctl suspend" \
    "before-sleep" "swaylock -f"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/screenshots/screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 1.5
}

window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
    opacity 1.0
}

window-rule {
    match app-id="foot"
    opacity 0.8
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+RETURN { spawn "foot"; }
    Mod+SPACE { spawn "fuzzel"; }
    Mod+E { spawn "foot" "yazi"; }
    Mod+C { spawn "foot" "nvim"; }
    Mod+B { spawn "librewolf"; }
    Mod+Alt+L { spawn "swaylock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
    
    Mod+Tab repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }
    
    Mod+H  { focus-column-left; }
    Mod+J  { focus-window-down; }
    Mod+K  { focus-window-up; }
    Mod+L  { focus-column-right; }
    
    Mod+Ctrl+H  { move-column-left; }
    Mod+Ctrl+J  { move-window-down; }
    Mod+Ctrl+K  { move-window-up; }
    Mod+Ctrl+L  { move-column-right; }

    Mod+Y { focus-column-first; }
    Mod+O  { focus-column-last; }
    Mod+Ctrl+Y { move-column-to-first; }
    Mod+Ctrl+O  { move-column-to-last; }

    Mod+Shift+H  { focus-monitor-left; }
    Mod+Shift+J  { focus-monitor-down; }
    Mod+Shift+K  { focus-monitor-up; }
    Mod+Shift+L  { focus-monitor-right; }

    Mod+Shift+Ctrl+H  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K  { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L  { move-column-to-monitor-right; }

    Mod+U      { focus-workspace-down; }
    Mod+I        { focus-workspace-up; }
    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+I   { move-column-to-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+T { toggle-window-floating; }

    Shift+Print { screenshot; }
    Print { screenshot-screen; }
    Mod+Shift+F12 { screenshot; }
    Mod+F12 { screenshot-screen; } 

    Mod+Escape { quit; }
}
